/*------------------------------------*\
    #SITE-NAV-TRIGGER
\*------------------------------------*/

.site-nav-trigger{
    color: $color--neutral;
    text-decoration: none;

    @include media-query(desk){
        display: none;
    };

    &:before{
        content: '\2630';
    }
}
