/*------------------------------------*\
    #SITE-NAV-TRIGGER
\*------------------------------------*/

.site-nav-trigger{
    color: $color--neutral;
    text-decoration: none;

    &:before{
        content: '\2630';
    }
}
