/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

h1,
.alpha,
%alpha,
h2,
.beta,
%beta,
h3,
.gamma,
%gamma,
h4,
.delta,
%delta,
h5,
.epsilon,
%epsilon,
h6,
.zeta,
%zeta{
    font-family: 'Bitter', serif;
}


a{
    color: $brand-color;
    @include ui-transition();

    &:hover{
        color: $inuit-base-text-color;
    }
}

ul{
    margin-left: 1em; // align normal lists to the left
}
