---
layout: "demo.hbs"
title: "buttons"
url: "objects.buttons"
---
#### `.btn`

<button class="btn">Button</button>



<br>
<hr>



#### `.btn--small`

<button class="[ btn  btn--small ]">Button</button>



<br>
<hr>



#### `.btn--large`

<button class="[ btn  btn--large ]">Button</button>



<br>
<hr>



#### `.btn--full`

<button class="[ btn  btn--full ]">Button</button>



<br>
<hr>



#### `.btn--pill`

<button class="[ btn  btn--pill ]">Button</button>



<br>
