---
layout: "demo.hbs"
title: "list-block"
url: "objects.list-block"
---
#### `.list-block`

<ul class="list-block">
    <li class="list-block__item">Foo</li>
    <li class="list-block__item">Bar</li>
    <li class="list-block__item">Baz</li>
</ul>



<br>
<hr>



#### `.list-block--tiny`

<ul class="[ list-block  list-block--tiny ]">
    <li class="list-block__item">Foo</li>
    <li class="list-block__item">Bar</li>
    <li class="list-block__item">Baz</li>
</ul>



<br>
<hr>



#### `.list-block--small`

<ul class="[ list-block  list-block--small ]">
    <li class="list-block__item">Foo</li>
    <li class="list-block__item">Bar</li>
    <li class="list-block__item">Baz</li>
</ul>



<br>
<hr>



#### `.list-block--large`

<ul class="[ list-block  list-block--large ]">
    <li class="list-block__item">Foo</li>
    <li class="list-block__item">Bar</li>
    <li class="list-block__item">Baz</li>
</ul>



<br>
<hr>



#### `.list-block--huge`

<ul class="[ list-block  list-block--huge ]">
    <li class="list-block__item">Foo</li>
    <li class="list-block__item">Bar</li>
    <li class="list-block__item">Baz</li>
</ul>



<br>
