---
layout: "demo.hbs"
title: "tables"
url: "objects.tables"
---
#### `.table`

<table class="table">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>



<br>
<hr>



#### `.table--fixed`

<table class="[ table  table--fixed ]">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>



<br>
<hr>



#### `.table--compact`

<table class="[ table  table--compact ]">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>



<br>
<hr>



#### `.table--cosy`

<table class="[ table  table--cosy ]">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>



<br>
<hr>



#### `.table--comfy`

<table class="[ table  table--comfy ]">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>



<br>
<hr>



#### `.table--rows`

<table class="[ table  table--rows ]">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>



<br>
<hr>



#### `.table--columns`

<table class="[ table  table--columns ]">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>



<br>
<hr>



#### `.table--cells`

<table class="[ table  table--cells ]">
    <tr>
        <td>FooBar</td>
        <td>Bar</td>
        <td>Baz</td>
    </tr>
    <tr>
        <td>Bar</td>
        <td>Baz</td>
        <td>Foo</td>
    </tr>
    <tr>
        <td>Baz</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
</table>



<br>
