---
layout: "index.hbs"
title: "inuit kitchen sink"
prev: false
next: "settings.default"
---
This kitchen sink is intended to present to you [inuitcss](https://github.com/inuitcss) and will provide a quick overview of pretty much all of the built-in features, objects and helpers of the framework.

When you seriously consider using inuitcss on a real project level, [have a read](https://github.com/inuitcss/getting-started) to learn how to integrate it into your project and get an advanced setup instruction and introduction.

<h1 class="gamma">[Dive into inuit kitchen sink](settings.default.html)</h1>
