---
title: "_objects.list-bare.scss"
source: "https://github.com/inuitcss/objects.list-bare/blob/master/_objects.list-bare.scss"
demo: "list-bare"
prev: "objects.box"
next: "objects.list-inline"
---
The list-bare object just removes the basic list styling like the bullets and the margin.

### Markup
```html
<ul class="list-bare">
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
</ul>
```

### [Demo](list-bare.html)
