---
title: "_objects.list-inline.scss"
source: "https://github.com/inuitcss/objects.list-inline/blob/master/_objects.list-inline.scss"
prev: "objects.list-bare"
next: "objects.list-block"
---
The list-inline object displays its list elements as a horizontal row.

### Markup
```html
<ul class="list-inline">
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
</ul>
```

### [Demo](list-inline.html)
