---
title: "_objects.tabs.scss"
source: "https://github.com/inuitcss/objects.tabs/blob/master/_objects.tabs.scss"
demo: "tabs"
prev: "objects.list-ui"
next: "objects.buttons"
---
The tabs object is very similar to the [pack](objects.pack.html) object.

### Markup
```html
<ul class="tabs">
    <li class="tabs__item">
        <a href="#" class="tabs__link">Foo</a>
    </li>
    <li class="tabs__item">
        <a href="#" class="tabs__link">Bar</a>
    </li>
    <li class="tabs__item">
        <a href="#" class="tabs__link">Baz</a>
    </li>
</ul>
```
`.tabs__link` can be omitted. It just sets the link to `display: block`.

### [Demo](tabs.html)
