#_settings.default.scss

```
$variable:      true;
$variable-2:    false;
```

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, tempore recusandae reiciendis consequatur `nemo ipsum` quae consectetur ex blanditiis eveniet asperiores officiis? Pariatur sed, ab alias dolores numquam fugiat, voluptates reiciendis error suscipit ratione eligendi debitis incidunt, impedit perferendis voluptatibus. Ex, atque, nisi. Tempore eum nulla corporis odit est magnam!</p>
