---
title: "_trumps.push.scss"
source: "https://github.com/csshugs/trumps.push/blob/master/_trumps.push.scss"
prev: "trumps.pull"
next: false
---


A series of push helper classes that you can use to push grid elemtents to the right. Classes can take a fraction-like
format (e.g. `.u-push-2/3`) or a spoken-word format (e.g. `.u-push-2-of-3`). Use these in your markup:

```html
    <div class="u-push-7/12">
        <p>Lorem Ipsum</p>
    </div>
```

