---
title: "_trumps.float.scss"
source: "https://github.com/csshugs/trumps.helper.float/blob/master/_trumps.helper.float.scss"
prev: "trumps.clearfix"
next: "trumps.font-weight"
---
Handy trump to setup float elements left or right
```html
<div>
    <div class="u-float-left">
         Float Right
    </div>
    <div class="u-float-none">
        Float none
    </div>
    <div class="u-float-right">
        Float Left
    </div>
</div>
```

