---
title: "_trumps.widths.scss"
source: "https://github.com/inuitcss/trumps.widths/blob/master/_trumps.widths.scss"
prev: "trumps.spacing-responsive"
next: "trumps.widths-responsive"
---
This module goes hand in hand with the [layout module](objects.layout.html). It serves for telling each `.layout__item` its width within the grid. As long as it's not `.layout--auto`, every `.layout__item` needs a width class.
```html
<div class="layout">
    <div class="layout__item  1/3">
        Foo
    </div><!--

    --><div class="layout__item  1/3">
        Bar
    </div><!--

    --><div class="layout__item  1/3">
        Baz
    </div>
</div>
```
Here, we are telling each `.layout__item` to take up a width of `1/3` (33.333%).

To have a list of all available width classes, have a look at the [source code](https://github.com/inuitcss/trumps.widths/blob/master/_trumps.widths.scss).
