---
title: "_trumps.pull.scss"
source: "https://github.com/csshugs/trumps.pull/blob/master/_trumps.pull.scss"
prev: "trumps.hide"
next: "trumps.push"
---

A series of pull helper classes that you can use to pull grid elemtents to the right. Classes can take a fraction-like
format (e.g. `.u-pull-2/3`) or a spoken-word format (e.g. `.u-pull-2-of-3`). Use these in your markup:

```html
<div class="u-pull-7/12">
    <p>Lorem Ipsum</p>
</div>
```
