---
title: "_trumps.hide.scss"
source: "https://github.com/csshugs/trumps.hide/blob/master/_trumps.hide.scss"
prev: "trumps.font-weight"
next: "trumps.pull"
---
Handy trump to hide a block or an element
```html
<div class="u-hide"> Lorem Ipsum dolo et</div>
```

**this trump will loop over our breakpoints defined in _settings.responsive.scss**
in order to make hiden class for mediaqueries

```html
<div class="u-hide-palm u-hide-desktop"> Lorem Ipsum dolo et</div>
```

