---
title: "_trumps.clearfix.scss"
source: "https://github.com/inuitcss/trumps.clearfix/blob/master/_trumps.clearfix.scss"
prev: "trumps.widths-responsive"
next: "trumps.float"
---
When you've got two floatet elements next to each other in one container, `.clearfix` prevents the container from having no height.
```html
<div class="clearfix">
    <div class="u-float-left">
        ...
    </div>
    <div class="u-float-right">
        ...
    </div>
</div>
```
