---
title: "_trumps.font-weight.scss"
source: "https://github.com/csshugs/trumps.helper.font-weight/blob/master/_trumps.helper.font-weight.scss"
prev: "trumps.float"
next: "trumps.hide"
---
Handy trump to setup font weight
```html
<p class="u-weight-300"> Lorem Ipsum dolo et</p>
```

In order to use  font weights you will need to override their variable to true;

```css
$inuit-enable-font-weight--100:     false !default;
$inuit-enable-font-weight--200:     false !default;
$inuit-enable-font-weight--300:     false !default;
$inuit-enable-font-weight--400:     false !default;
$inuit-enable-font-weight--500:     false !default;
$inuit-enable-font-weight--600:     false !default;
$inuit-enable-font-weight--700:     false !default;
$inuit-enable-font-weight--800:     false !default;
$inuit-enable-font-weight--900:     false !default;
```