/*------------------------------------*\
    #FONT-WEIGHT
\*------------------------------------*/

// Choose your font-weights, depending on your font-family
// and which one you need.
$inuit-enable-font-weight--100:     true;
$inuit-enable-font-weight--200:     true;
$inuit-enable-font-weight--300:     true;
$inuit-enable-font-weight--400:     true;
$inuit-enable-font-weight--500:     true;
$inuit-enable-font-weight--600:     true;
$inuit-enable-font-weight--700:     true;
$inuit-enable-font-weight--800:     true;
$inuit-enable-font-weight--900:     true;