/*------------------------------------*\
    #TEXT-ALIGN-RESPONSIVE
\*------------------------------------*/

$inuit-enable-text-align--responsive--left:     true;
$inuit-enable-text-align--responsive--right:    true;
$inuit-enable-text-align--responsive--center:   true;

