///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Unsemantic color vars.
$blue--light:                   #4a8ec2;
$grey:                          #444;
$grey--light:                   #ddd;
$white:                         #fff;





// Semantic color vars.
$brand-color:                   $blue--light;
$ui-color:                      desaturate($brand-color, 100%);
$ui-color--heavy:               $grey;
$ui-color--pale:                $grey--light;
$color--neutral:                $white;





// Selection.
$selection-background-color:    $brand-color;
$selection-text-color:          $color--neutral;
