///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Unsemantic color vars.
$blue--light:                   #4a8ec2;
$grey:                          #444;
$white:                         #fff;





// Semantic color vars.
$brand-color:                   $blue--light;
$ui-color:                      $grey;
$color--neutral:                $white;





// Selection.
$selection-background-color:    $brand-color;
$selection-text-color:          $color--neutral;
