///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// High-level base settings.
$inuit-base-font-size:                  20px;
$inuit-base-line-height:                30px;
$inuit-base-text-color:                 #333;
$inuit-base-background-color:           #eee;
