///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/

// High-level base settings.
$inuit-base-font-size:                  18px;
$inuit-base-line-height:                28px;
$inuit-base-text-color:                 #333;
$inuit-base-background-color:           #eee;
