// /*------------------------------------*\
//     #PAGE-HEAD-SETTINGS
// \*------------------------------------*/

$page-head-height:          $inuit-heading-size-1;
$page-head-height--palm:    $inuit-heading-size-3;
$page-head-padding:         $inuit-base-spacing-unit--small;
