///*------------------------------------*\
//    #TYPOGRAPHY
//\*------------------------------------*/

// Base font family.
$base-font-family:          'Lato', sans-serif;





// Headings.
$inuit-heading-size-1:      36px;
$inuit-heading-size-2:      30px;
$inuit-heading-size-3:      24px;
$inuit-heading-size-4:      20px;
$inuit-heading-size-5:      16px;
$inuit-heading-size-6:      14px;
