<ul class="tabs ui-tabs mt+">
    <li class="tabs__item"><a class="tabs__link" href="{{prev}}.html">prev</a></li>
    <li class="tabs__item"><a class="tabs__link" href="{{next}}.html">next</a></li>
</ul>
