<footer class="[ page-foot ]  [ pv+ ]">
    <ul class="[ list-inline ]  [ page-wrap ]  [ text--center ]">
        <li><a href="https://github.com/csshugs/inuit-kitchen-sink">on GitHub</a></li>
    </ul>
</footer>
