<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

    <title>inuitcss kitchen sink</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <!-- build:css build/assets/css/style.css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- /build -->

    <!-- build:[href] src/assets/img/favicon.png -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png" />
    <!-- /build -->
</head>
<body>





<header class="page-head pv- mb">
    <div class="page-wrap">
        <h6 class="mb0"><a class="site-logo alpha" href="index.html">inuit kitchen sink</a></h6>
    </div>
</header>
