<footer class="[ page-foot ]  [ pv+ ]">
    <ul class="[ list-inline ]  [ o-page-wrap ]">
        <li><a href="https://github.com/csshugs/inuit-kitchen-sink">Contribute on GitHub</a></li>
    </ul>
</footer>
