<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>inuitcss kitchen sink</title>

    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <!-- build:css build/assets/css/style.css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- /build -->

    <!-- build:[href] src/assets/img/favicon.png -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png" />
    <!-- /build -->
</head>
<body>





<header class="page-head page-wrap">
    <h3><a href="index.html">---</a></h3>
</header>
