<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

    <title>{{#is title "inuit kitchen sink"}}{{else}}inuit kitchen sink | {{/is}}{{title}}</title>

    <meta name="description"
          content="inuit kitchen sink lists you all modules of inuitcss and helps you getting started with the framework.">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <!-- build:css build/assets/css/style.css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- /build -->

    <!-- build:[href] src/assets/img/favicon.png -->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png"/>
    <!-- /build -->

    <script src="https://code.jquery.com/jquery-2.2.2.min.js"
            integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
            crossorigin="anonymous"></script>

    <script src="/assets/js/css-class.debugger.js"></script>

</head>
<body>


<header class="[ page-head ]  [ pv-  mb ]">
    <div class="[ o-page-wrap ]  [ clearfix ]">
        <h6 class="[ u-float-left ]  [ mb0 ]"><a class="site-logo" href="index.html">inuit kitchen sink</a></h6>

        <a class="[ site-nav-trigger ]  [ u-float-right ]" href="#site-nav"></a>
    </div>
</header>
