<nav role="navigation">
    <ul id="site-nav" class="[ site-nav ]  [ list-bare ]  [ portable-p- ]">
        {{#each module-layer}}
            <li>
                <p class="[ gamma ]  [ u-weight-700 ]  [ mb0 ]">{{layer}}</p>
                <ul class="[ site-nav__sub ]  [ list-bare ]  [ mb ]">
                    {{#each modules}}
                        <li><a href="{{../layer}}.{{this}}.html">{{this}}</a></li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
</nav>
