<h2 class="text--center">Table of Contents</h2>
<nav role="navigation">
    <ul id="site-nav" class="[ site-nav ]  [ layout ]  [ portable-p- ]">
        {{#each module-layer}}<li class="[ layout__item  1/5  portable-1/1 ]  [ portable-pl0 ]">
            <p class="[ gamma ]  [ weight--700 ]  [ mb0 ]">{{layer}}</p>
            <ul class="[ site-nav__sub ]  [ list-bare ]  [ mb ]">
                {{#each modules}}
                    <li><a href="{{../layer}}.{{this}}.html">{{this}}</a></li>
                {{/each}}
            </ul>
        </li>{{/each}}
    </ul>
</nav>
