// /*------------------------------------*\
//     $ALIASES
// \*------------------------------------*/

// Convert to more convenient names.
$su:            $inuit-base-spacing-unit;
$su--small:     $inuit-base-spacing-unit--small;
$su--large:     $inuit-base-spacing-unit--large;


@mixin font-size($args...) {
    @include inuit-font-size($args...);
}
