@charset "UTF-8";
/*!
 *
 * css-scaffold
 * https://github.com/csshugs/css-scaffold
 *
 */

// /*------------------------------------*\
//     #SETTINGS
// \*------------------------------------*/
@import "ui/settings/*.*";
@import "inuit-defaults/_settings.defaults";
@import "inuit-responsive-settings/_settings.responsive";





// /*------------------------------------*\
//     #TOOLS
// \*------------------------------------*/
@import "ui/tools/*.*";
@import "inuit-functions/_tools.functions";
@import "inuit-mixins/_tools.mixins";
@import "inuit-responsive-tools/_tools.responsive";





// /*------------------------------------*\
//     #GENERIC
// \*------------------------------------*/
@import "inuit-box-sizing/_generic.box-sizing";
@import "inuit-normalize/_generic.normalize";
@import "inuit-reset/_generic.reset";
@import "inuit-shared/_generic.shared";





// /*------------------------------------*\
//     #BASE
// \*------------------------------------*/
@import "inuit-page/_base.page";
@import "inuit-headings/_base.headings";
@import "inuit-paragraphs/_base.paragraphs";
@import "inuit-lists/_base.lists";
@import "inuit-images/_base.images";
@import "ui/base/*.*";





// /*------------------------------------*\
//     #OBJECTS
// \*------------------------------------*/
@import "inuit-block/_objects.block";
@import "inuit-box/_objects.box";
@import "inuit-buttons/_objects.buttons";
@import "inuit-flag/_objects.flag";
@import "inuit-icon/_objects.icon";

$inuit-enable-layout--rev:      true;
@import "inuit-layout/_objects.layout";
@import "inuit-list-bare/_objects.list-bare";
@import "inuit-list-block/_objects.list-block";
@import "inuit-list-inline/_objects.list-inline";
@import "inuit-list-ui/_objects.list-ui";
@import "inuit-media/_objects.media";
@import "inuit-pack/_objects.pack";

$page-wrap-width:           1024px;
$page-wrap--responsive:     true;
$page-wrap-collapse-at:     1023px;
@import "inuit-page-wrap/_objects.page-wrap";
@import "inuit-tables/_objects.tables";
@import "inuit-tabs/_objects.tabs";
@import "inuit-text-input/_objects.text-input";
@import "ui/objects/*.*";





// /*------------------------------------*\
//     #COMPONENTS
// \*------------------------------------*/
@import "ui/components/*.*";





// /*------------------------------------*\
//     #THEME
// \*------------------------------------*/
@import "ui/theme/*.*";





// /*------------------------------------*\
//     #PLUGINS
// \*------------------------------------*/
@import "ui/plugins/*.*";





// /*------------------------------------*\
//     #TRUMPS
// \*------------------------------------*/
@import "inuit-clearfix/_trumps.clearfix";
@import "inuit-widths/_trumps.widths";
@import "inuit-widths-responsive/_trumps.widths-responsive";

$inuit-enable-margins:          true;
$inuit-enable-margins--huge:    true;
$inuit-enable-margins--none:    true;

$inuit-enable-responsive-margins--none:     true;

$inuit-enable-paddings--small:  true;

$inuit-enable-responsive-paddings--small:  true;
@import "inuit-spacing/_trumps.spacing";
@import "inuit-spacing-responsive/_trumps.spacing-responsive";
@import "inuit-print/_trumps.print";
@import "inuit-helper/_trumps.helper";
@import "ui/trumps/*.*";





@import "ui/shame";
