{{> _page-head}}


<div class="page-wrap">
    <div class="mb"><a class="zeta" href="{{url}}.html">back to description.</a></div>
    <hr>
    <div class="[ demo ]  [ mb ]">{{#markdown}}{{>body}}{{/markdown}}</div>
    <hr>
    <div class="mb"><a class="zeta" href="{{url}}.html">back to description.</a></div>
</div>


{{> _page-foot}}


<!-- build:remove -->
<script type="text/javascript">document.write('<script src="http://'
+ (location.host || 'localhost').split(':')[0]
+ ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script>
<!-- /build -->
</body>
</html>
