---
site-title: "demo"
---
{{> _page-head}}


<header class="[ page-head ]  [ pv-  mb ]">
    <div class="[ page-wrap ]  [ clearfix ]">
        <h6 class="[ float--left ]  [ mb0 ]"><a class="site-logo" href="index.html{{fragment}}">{{title}} demo</a></h6>

        <a class="[ site-nav-trigger ]  [ float--right ]" href="#site-nav"></a>
    </div>
</header>


<div class="[ page-wrap ]  [ mb+ ]">
    <div class="mb"><a class="zeta" href="{{url}}.html">back to description.</a></div>
    <hr>
    <div class="[ demo ]  [ mb ]">{{#markdown}}{{>body}}{{/markdown}}</div>
    <hr>
    <div class="mb"><a class="zeta" href="{{url}}.html">back to description.</a></div>
</div>


<hr>


<div class="page-wrap">{{> _site-nav modules}}</div>


{{> _page-foot}}


<!-- build:remove -->
<script type="text/javascript">document.write('<script src="http://'
+ (location.host || 'localhost').split(':')[0]
+ ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script>
<!-- /build -->
</body>
</html>
