---
site-title: "inuit kitchen sink"
---
{{> _page-head}}


<header class="[ page-head ]  [ pv-  mb ]">
    <div class="[ page-wrap ]  [ clearfix ]">
        <h6 class="[ float--left ]  [ mb0 ]"><a class="site-logo" href="index.html{{fragment}}">inuit kitchen sink</a></h6>

        <a class="[ site-nav-trigger ]  [ float--right ]" href="#site-nav"></a>
    </div>
</header>


<div class="page-wrap">
    <div class="mb+">{{#markdown}}{{>body}}{{/markdown}}</div>
    <div class="mb">{{> _toc modules}}</div>
    <hr>
    <h3 id="plugins"><a href="objects.page-wrap.html">inuitcss plugins:</a></h3>
    <div class="mb">{{> _toc plugins}}</div>
</div>


{{> _page-foot}}


<!-- build:remove -->
<script type="text/javascript">document.write('<script src="http://'
+ (location.host || 'localhost').split(':')[0]
+ ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
</script>
<!-- /build -->
</body>
</html>
