/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * The inuitcss layout system uses `box-sizing: border-box;` and
 * `display: inline-block;` to create an extremely powerful, flexible
 * alternative to the traditional grid system. Combine the layout items with
 * the widths found in `trumps.widths`.
 */

// Predefine the variables below in order to alter and enable specific features.

$inuit-layout-namespace:        $inuit-namespace;
$inuit-layout-gutter:           $inuit-base-spacing-unit;
$inuit-layout-gutter--tiny:       quarter($inuit-layout-gutter);
$inuit-layout-gutter--small:        halve($inuit-layout-gutter);
$inuit-layout-gutter--large:       double($inuit-layout-gutter);
$inuit-layout-gutter--huge:     quadruple($inuit-layout-gutter);

$inuit-enable-layout--tiny:     true;
$inuit-enable-layout--small:    true;
$inuit-enable-layout--large:    true;
$inuit-enable-layout--huge:     true;
$inuit-enable-layout--flush:    true;
$inuit-enable-layout--rev:      true;
$inuit-enable-layout--middle:   true;
$inuit-enable-layout--bottom:   true;
$inuit-enable-layout--right:    true;
$inuit-enable-layout--center:   true;
$inuit-enable-layout--auto:     true;



// This is related to object.layout

// -----
// BLOCK
// -----

.#{$inuit-layout-namespace}layout,
%#{$inuit-layout-namespace}layout {
    /* WARNING!: As Inuit.css grids are positioned using display: inline-block;
    you must strip whitespace from between .layout__item elements to get the grids to properly line up.
    OR USE one of these solutions:
    https://css-tricks.com/fighting-the-space-between-inline-block-elements/
    We are using letter-spacing negative to block and then letter-spacing: normal to items
    */
    letter-spacing: -.325rem;
    // margin-left: 0px;

    // -------
    // Element
    // -------
    &__item {
        letter-spacing: normal;
    }
}

