/*------------------------------------*\
    #DEMO
\*------------------------------------*/

/**
 * Theming for the demo pages
 */





/*------------------------------------*\
    #PACK
\*------------------------------------*/

.pack__item {
    background-color: $brand-color;
    color: $color--neutral;
}





/*------------------------------------*\
    #BOX
\*------------------------------------*/

.box {
    background-color: $ui-color;

    > * {
        background-color: $brand-color;
        color: $color--neutral;
    }
}





/*------------------------------------*\
    #LIST-BLOCK
\*------------------------------------*/
