---
layout: "demo.hbs"
title: "flag demo"
url: "objects.flag"
---
#### `.flag`

<div class="flag">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--tiny`

<div class="[ flag  flag--tiny ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--small`

<div class="[ flag  flag--small ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--large`

<div class="[ flag  flag--large ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--huge`

<div class="[ flag  flag--huge ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--flush`

<div class="[ flag  flag--flush ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--rev`

<div class="[ flag  flag--rev ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--top`

<div class="[ flag  flag--top ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--bottom`

<div class="[ flag  flag--bottom ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
<hr>



#### `.flag--responsive`

<div class="[ flag  flag--responsive ]">
    <div class="flag__img">
        <img src="http://placehold.it/200x300/dddddd/4a8ec2">
    </div>
    <p class="flag__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nulla in, libero eveniet unde itaque aut. Vitae velit non, eaque, ullam assumenda dolorem architecto tempore!</p>
</div>



<br>
