<style type="text/css">

    .i--home {
        background-color: cornflowerblue;
    }

</style>



---
layout: "demo.hbs"
title: "icon demo"
url: "objects.icon"
---
#### `.icon`

<div class="icon">
    <i class="i i--home">icon image</i>
    <span class="icon__text">Lorem ipsum dolor sit</span>
</div>


<br>
<hr>


#### `.icon--small`

<div class="icon icon--small">
    <i class="i i--home">icon image</i>
    <span class="icon__text">Lorem ipsum dolor sit</span>
</div>

<br>
<hr>

#### `.layout--large`

<div class="icon icon--large">
    <i class="i i--home">icon image</i>
    <span class="icon__text">Lorem ipsum dolor sit</span>
</div>

<br>
<hr>


#### `.layout--rev`


<div class="icon icon--rev">
    <i class="i i--home">icon image</i>
    <span class="icon__text">Lorem ipsum dolor sit</span>
</div>


<br>
