---
layout: "demo.hbs"
title: "layout demo"
url: "objects.layout"
---
#### `.layout`

<div class="layout">
    <div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div>
</div>



<br>
<hr>



#### `.layout--tiny`

<div class="[ layout  layout--tiny ]">
    <div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div>
</div>



<br>
<hr>



#### `.layout--small`

<div class="[ layout  layout--small ]">
    <div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div>
</div>



<br>
<hr>



#### `.layout--large`

<div class="[ layout  layout--large ]">
    <div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div>
</div>



<br>
<hr>



#### `.layout--huge`

<div class="[ layout  layout--huge ]">
    <div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div>
</div>



<br>
<hr>



#### `.layout--flush`

<div class="[ layout  layout--flush ]">
    <div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>1/3</p>
    </div>
</div>



<br>
<hr>



#### `.layout--rev`

<div class="[ layout  layout--rev ]">
    <div class="[ layout__item  1/3 ]">
        <p>1</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>2</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>3</p>
    </div>
</div>



<br>
<hr>



#### `.layout--middle`

<div class="[ layout  layout--middle ]">
    <div class="[ layout__item  1/3 ]">
        <p>Foo <br> Bar <br> Baz</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>Bar</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>Baz</p>
    </div>
</div>



<br>
<hr>



#### `.layout--bottom`

<div class="[ layout  layout--bottom ]">
    <div class="[ layout__item  1/3 ]">
        <p>Foo <br> Bar <br> Baz</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>Bar</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>Baz</p>
    </div>
</div>



<br>
<hr>



#### `.layout--right`

<div class="[ layout  layout--right ]">
    <div class="[ layout__item  1/3 ]">
        <p>Foo</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>Bar</p>
    </div>
</div>



<br>
<hr>



#### `.layout--center`

<div class="[ layout  layout--center ]">
    <div class="[ layout__item  1/3 ]">
        <p>Foo</p>
    </div><!--
    --><div class="[ layout__item  1/3 ]">
        <p>Bar</p>
    </div>
</div>



<br>
<hr>



#### `.layout--auto`

<div class="[ layout  layout--auto ]">
    <div class="[ layout__item ]">
        <p>Foo</p>
    </div><!--
    --><div class="[ layout__item ]">
        <p>Bar</p>
    </div><!--
    --><div class="[ layout__item ]">
        <p>Baz</p>
    </div>
</div>



<br>
