---
layout: "demo.hbs"
title: "list-ui demo"
url: "objects.list-ui"
---
#### `.list-ui`

<ul class="list-ui">
    <li class="list-ui__item">Foo</li>
    <li class="list-ui__item">Bar</li>
    <li class="list-ui__item">Baz</li>
</ul>



<br>
<hr>



#### `.list-ui--tiny`

<ul class="[ list-ui  list-ui--tiny ]">
    <li class="list-ui__item">Foo</li>
    <li class="list-ui__item">Bar</li>
    <li class="list-ui__item">Baz</li>
</ul>



<br>
<hr>



#### `.list-ui--small`

<ul class="[ list-ui  list-ui--small ]">
    <li class="list-ui__item">Foo</li>
    <li class="list-ui__item">Bar</li>
    <li class="list-ui__item">Baz</li>
</ul>



<br>
<hr>



#### `.list-ui--large`

<ul class="[ list-ui  list-ui--large ]">
    <li class="list-ui__item">Foo</li>
    <li class="list-ui__item">Bar</li>
    <li class="list-ui__item">Baz</li>
</ul>



<br>
<hr>



#### `.list-ui--huge`

<ul class="[ list-ui  list-ui--huge ]">
    <li class="list-ui__item">Foo</li>
    <li class="list-ui__item">Bar</li>
    <li class="list-ui__item">Baz</li>
</ul>



<br>
