---
layout: "demo.hbs"
title: "media demo"
url: "objects.media"
---
#### `.media`

<div class="media">
    <img src="http://placehold.it/200x150/dddddd/4a8ec2" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione hic molestias suscipit aspernatur atque consequatur, commodi. Dolor necessitatibus voluptate quasi nihil assumenda, minus quo. Earum, accusantium tempora in fugiat, nisi ipsa iste tenetur eos!</p>
</div>



<br>
<hr>



#### `.media--tiny`

<div class="[ media  media--tiny ]">
    <img src="http://placehold.it/200x150/dddddd/4a8ec2" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione hic molestias suscipit aspernatur atque consequatur, commodi. Dolor necessitatibus voluptate quasi nihil assumenda, minus quo. Earum, accusantium tempora in fugiat, nisi ipsa iste tenetur eos!</p>
</div>



<br>
<hr>



#### `.media--small`

<div class="[ media  media--small ]">
    <img src="http://placehold.it/200x150/dddddd/4a8ec2" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione hic molestias suscipit aspernatur atque consequatur, commodi. Dolor necessitatibus voluptate quasi nihil assumenda, minus quo. Earum, accusantium tempora in fugiat, nisi ipsa iste tenetur eos!</p>
</div>



<br>
<hr>



#### `.media--large`

<div class="[ media  media--large ]">
    <img src="http://placehold.it/200x150/dddddd/4a8ec2" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione hic molestias suscipit aspernatur atque consequatur, commodi. Dolor necessitatibus voluptate quasi nihil assumenda, minus quo. Earum, accusantium tempora in fugiat, nisi ipsa iste tenetur eos!</p>
</div>



<br>
<hr>



#### `.media--huge`

<div class="[ media  media--huge ]">
    <img src="http://placehold.it/200x150/dddddd/4a8ec2" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione hic molestias suscipit aspernatur atque consequatur, commodi. Dolor necessitatibus voluptate quasi nihil assumenda, minus quo. Earum, accusantium tempora in fugiat, nisi ipsa iste tenetur eos!</p>
</div>



<br>
<hr>



#### `.media--flush`

<div class="[ media  media--flush ]">
    <img src="http://placehold.it/200x150/dddddd/4a8ec2" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione hic molestias suscipit aspernatur atque consequatur, commodi. Dolor necessitatibus voluptate quasi nihil assumenda, minus quo. Earum, accusantium tempora in fugiat, nisi ipsa iste tenetur eos!</p>
</div>




<br>
<hr>



#### `.media--rev`

<div class="[ media  media--rev ]">
    <img src="http://placehold.it/200x150/dddddd/4a8ec2" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione hic molestias suscipit aspernatur atque consequatur, commodi. Dolor necessitatibus voluptate quasi nihil assumenda, minus quo. Earum, accusantium tempora in fugiat, nisi ipsa iste tenetur eos!</p>
</div>



<br>
<hr>



#### `.media--responsive`

<div class="[ media  media--responsive ]">
    <img src="http://placehold.it/200x150/dddddd/4a8ec2" class="media__img">
    <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ratione hic molestias suscipit aspernatur atque consequatur, commodi. Dolor necessitatibus voluptate quasi nihil assumenda, minus quo. Earum, accusantium tempora in fugiat, nisi ipsa iste tenetur eos!</p>
</div>



<br>
