---
layout: "demo.hbs"
title: "pack demo"
url: "objects.pack"
---
#### `.pack`

<div class="pack">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>



<br>
<hr>



#### `.pack--tiny`

<div class="[ pack  pack--tiny ]">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>




<br>
<hr>



#### `.pack--small`

<div class="[ pack  pack--small ]">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>



<br>
<hr>



#### `.pack--large`

<div class="[ pack  pack--large ]">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>



<br>
<hr>



#### `.pack--huge`

<div class="[ pack  pack--huge ]">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>



<br>
<hr>



#### `.pack--auto`

<div class="[ pack  pack--auto ]">
    <div class="pack__item">
        FooBarBaz
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>



<br>
<hr>



#### `.pack--rev`

<div class="[ pack  pack--rev ]">
    <div class="pack__item">
        Foo
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>



<br>
<hr>



#### `.pack--middle`

<div class="[ pack  pack--middle ]">
    <div class="pack__item">
        Foo<br>
        Bar<br>
        Baz<br>
        Foo<br>
        Bar<br>
        Baz
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>



<br>
<hr>



#### `.pack--bottom`

<div class="[ pack  pack--bottom ]">
    <div class="pack__item">
        Foo<br>
        Bar<br>
        Baz<br>
        Foo<br>
        Bar<br>
        Baz
    </div>
    <div class="pack__item">
        Bar
    </div>
    <div class="pack__item">
        Baz
    </div>
</div>



<br>
