---
layout: "demo.hbs"
title: "page Wrap demo"
url: "objects.page-wrap"
---
#### `.o-page-wrap`

<div class="o-page-wrap">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet tempor nulla. Fusce porta vulputate
        mauris egestas cursus. Sed aliquet, arcu a dictum lacinia, augue elit mattis eros, id fermentum nunc nulla a ex.
        In id nisl a leo maximus facilisis. Donec nec lacus tincidunt, luctus mauris a, rutrum odio. Mauris eu euismod
        libero. Duis ornare iaculis commodo. Donec porttitor augue mauris, eu dictum justo dictum sit amet. Donec quis
        dui ac est tincidunt aliquet ac a nunc. Integer congue posuere leo, sed tempor lectus porta at. Etiam semper
        tellus ac quam dictum tempus. Fusce gravida velit ligula, nec pretium diam euismod vestibulum. Nulla at nisi
        iaculis, porta nisl vel, sodales odio. Donec in dolor sit amet orci pharetra sollicitudin nec et eros. Maecenas
        convallis ex sit amet orci vestibulum, quis tincidunt nisl pretium.
    </p>
    <p>
        Cras fringilla, nunc id consequat eleifend, ante est vehicula purus, nec feugiat neque velit nec augue. Mauris
        placerat, augue laoreet consectetur aliquet, lorem nulla fringilla ante, vel interdum magna nulla nec sapien.
        Duis fringilla tempor tellus aliquam vehicula. Quisque venenatis diam mauris. Proin at enim sagittis urna
        tincidunt lacinia nec et ligula. Phasellus tincidunt suscipit nisi a consectetur. Morbi sem ex, euismod et
        eleifend vitae, pretium eu enim. Aliquam a nunc vitae sem iaculis efficitur ut id lectus. Aenean porta fermentum
        nunc.
    </p>
    <p>
        Aliquam ipsum ipsum, finibus et pulvinar a, tincidunt nec quam. Integer in suscipit ipsum, non mollis enim. Sed
        lobortis augue turpis, vel egestas orci vestibulum venenatis. Suspendisse id tellus a enim iaculis aliquet. Cras
        eget maximus nisi. Donec vel nunc ullamcorper, dignissim diam id, commodo ligula. Ut malesuada risus nulla, eu
        dapibus magna luctus non. Nullam augue tortor, fringilla eget nibh lobortis, convallis bibendum libero. Proin
        sed arcu egestas, commodo lacus ac, hendrerit quam. Aliquam a condimentum diam, eu euismod quam. Vivamus massa
        nisl, congue nec volutpat quis, scelerisque quis sem. Pellentesque ac orci ac justo imperdiet porttitor quis
        vitae risus.
    </p>
    <p>
        Fusce nec leo purus. Etiam fringilla enim at velit tincidunt, vel condimentum enim aliquam. Vivamus orci felis,
        suscipit tempus consectetur sit amet, ultricies eget nisl. Praesent condimentum commodo mi quis finibus. Nullam
        maximus leo lorem, eget egestas purus lacinia imperdiet. Mauris mi odio, volutpat nec aliquam ac, imperdiet et
        risus. Nunc nec luctus mauris, sit amet consequat quam. Ut nec nisi laoreet, ullamcorper eros nec, feugiat quam.
    </p>
    <p>
        Sed non erat tincidunt, elementum arcu sed, efficitur tellus. Interdum et malesuada fames ac ante ipsum primis
        in faucibus. Nam ac lacus et massa ultrices suscipit. Etiam imperdiet libero mi, vitae varius tellus malesuada
        non. Aenean ligula purus, cursus volutpat dictum hendrerit, suscipit vitae est. Ut scelerisque convallis urna.
        Mauris tincidunt, sem sit amet interdum hendrerit, ligula quam vestibulum elit, eu accumsan risus sapien sit
        amet erat. Pellentesque placerat, metus et tincidunt mattis, nulla mi mollis ex, non volutpat nisi augue ac
        lacus.
    </p>
</div>


<br>
