---
layout: "demo.hbs"
title: "tabs demo"
url: "objects.tabs"
---
#### `.tabs`

<ul class="tabs">
    <li class="tabs__item">
        <a href="#" class="tabs__link">Foo</a>
    </li>
    <li class="tabs__item">
        <a href="#" class="tabs__link">Bar</a>
    </li>
    <li class="tabs__item">
        <a href="#" class="tabs__link">Baz</a>
    </li>
</ul>



<br>
